<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OAuthServices</key>
	<array>
		<dict>
			<key>key</key>
			<string>weibo2</string>
			<key>title</key>
			<string>新浪微博</string>
			<key>name</key>
			<string>SinaWeiboSharer2</string>
			<key>oauthType</key>
			<string>2</string>
			<key>isMore</key>
			<false/>
			<key>accessTokenURL</key>
			<string>https://api.weibo.com/oauth2/access_token</string>
			<key>authorizeURL</key>
			<string>https://api.weibo.com/oauth2/authorize</string>
			<key>requestTokenURL</key>
			<string></string>
			<key>callbackURL</key>
			<string>http://www.supuy.com/</string>
		</dict>
		<dict>
			<key>key</key>
			<string>qqmb</string>
			<key>title</key>
			<string>腾讯微博</string>
			<key>name</key>
			<string>TXWeiboSharer</string>
			<key>oauthType</key>
			<string>1</string>
			<key>isMore</key>
			<false/>
			<key>accessTokenURL</key>
			<string>https://open.t.qq.com/cgi-bin/access_token</string>
			<key>authorizeURL</key>
			<string>https://open.t.qq.com/cgi-bin/authorize</string>
			<key>requestTokenURL</key>
			<string>https://open.t.qq.com/cgi-bin/request_token</string>
			<key>callbackURL</key>
			<string>http://127.0.0.1/success.html</string>
		</dict>
		<dict>
			<key>key</key>
			<string>renren</string>
			<key>title</key>
			<string>人人网</string>
			<key>name</key>
			<string>RenRenSharer</string>
			<key>oauthType</key>
			<string>2</string>
			<key>isMore</key>
			<false/>
			<key>accessTokenURL</key>
			<string></string>
			<key>authorizeURL</key>
			<string>https://graph.renren.com/oauth/authorize</string>
			<key>requestTokenURL</key>
			<string></string>
			<key>callbackURL</key>
			<string>http://graph.renren.com/oauth/login_success.html</string>
		</dict>
	</array>
	<key>Actions</key>
	<array/>
	<key>TrackClickBack</key>
	<true/>
	<key>RedirectServices</key>
	<array/>
</dict>
</plist>
